html, body 
{
  height: 100%;
  width: 100%;
}
h1
{
  font-family: Georgia;
  font-style: italic;
  text-align: center;
}
p
{
  font-family: cursive;
  text-align: center;
}
ul
{
  text-align: center;
}
